# Mode
MODE = 'dev'

# App secret
app_secret = 'azdGBumlG7QcbrLqdZmYRM6FZ3snZSQefGkLBKUOq7jkjugCTDosBnuVrGiV1FtSw6dEqyTwiqM6U38XIqnBDWF4XPJaeZmVaqZe'

# Ai Divergence
ad_divergence_db_driver = 'postgres'
ai_divergence_db_host = '10.42.125.61'
ai_divergence_db_port = '5432'
ai_divergence_db_user = 'web_reader'
ai_divergence_db_pass = 'w3bby'
ai_divergence_db_name = 'DivergenceManager'

# Ai raw data
ai_mongo_host = '10.42.107.224'
ai_mongo_port = '27017'
ai_mongo_user = 'pyscript'
ai_mongo_pass = 'p!!!y190'
ai_mongo_db_name = 'moridaru'